@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

* {
    background: #F5F5F5;
}

header {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

div {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    font-size: x-large;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
    width: 30px;
    height: 30px;
}

label {
    height: 30px;
    vertical-align: middle;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-size-adjust: center;
}


input[type="text"] {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #dee9ff;
    color: #000000;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 10px;
}

button,
input[type="submit"] {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #2196F3;
    color: #fff;
    padding: 8px 16px;
    font-size: large;
}

button:hover {
    background: #2196F3;
    scale: 1.1;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.properies_value {
    line-height: 40px;
    border: 2px;
    border-radius: 10px;
    background-color: #dee9ff;
    margin-left: 20%;
    width: 60%;
    font-size: large;
}

.toggle {
    --width: 120px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
    background-color: #2196F3;
}
.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width)));
}